# This file contains common pin mappings for the BigTreeTech SKR 2.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# In newer versions of this board shipped in late 2021 the STM32F429
# is used, if this is the case compile for this with a "32KiB bootloader"
# You will need to check the chip on your board to identify which you have.
# 
# The "make flash" command does not work on the SKR 2. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR 2
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Note: The initial revision of this board has a flaw that can cause
# damage to itself and other boards. Be sure to verify the board is
# not impacted by this flaw before using it.

[include timelapse.cfg]
[include mainsail2.cfg]
[include software.cfg]
[include hardware/adxl345.cfg]
[include hardware/bed.cfg]
[include hardware/beeper.cfg]
[include hardware/bltouch.cfg]
[include hardware/extruder.cfg]
[include hardware/fan.cfg]
[include hardware/filament.cfg]
[include hardware/pi.cfg]
[include hardware/st7920.cfg]
[include hardware/steppers.cfg]
[include macro.cfg]

########################################
# Printer configuration
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_400020001750324330373220-if00
baud: 250000
restart_method: command

[temperature_sensor SKR_2]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 8000
square_corner_velocity: 5.0
max_z_velocity: 5
max_z_accel: 100

[input_shaper]
#shaper_freq_x: 75
#shaper_freq_y: 40
shaper_type: mzv
#shaper_type_x: ei
#shaper_type_y: mzv
#damping_ratio_x: 0.1
#damping_ratio_y: 0.1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.589
#*# pid_ki = 1.588
#*# pid_kd = 128.649
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.138
#*# pid_ki = 1.514
#*# pid_kd = 883.145
#*#
#*# [bltouch]
#*# z_offset = 4.239
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.290625, -0.099375, -0.079375, -0.011875, 0.078750
#*# 	0.066250, -0.040000, -0.015625, 0.006250, 0.077500
#*# 	0.063750, 0.004375, -0.008125, 0.018750, 0.066250
#*# 	0.018750, -0.038125, -0.024375, -0.009375, 0.009375
#*# 	-0.026875, -0.060625, -0.037500, -0.002500, -0.005625
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 180.0
#*# min_y = 10.0
#*# max_y = 185.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 54.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 54.0
