##### Mainsail #####

[gcode_macro _CG28]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

[gcode_macro SHUTDOWN]
gcode:
    #LCDRGB R=0 G=0 B=0                               ; Turn off LCD neopixels (see above for this macro)
    OFF                                               ; Shortcut to turn everything off (see above for this macro)
    {action_respond_info('action:poweroff')}          ; OctoPrint compatible host shutdown
	{action_call_remote_method("shutdown_machine")}   ; Moonraker compatible host shutdown

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[exclude_object]

[display_status]

#[menu __main __octoprint]
#type: disabled

#[menu __main __setup __shutdown]
#type: command
#enable: {not printer.idle_timeout.state == "Printing"}
#name: Shut down
#gcode: SHUTDOWN

[firmware_retraction]
retract_length: 0.8
retract_speed: 35
unretract_extra_length: 0.8
unretract_speed: 35

[gcode_arcs]
resolution: 1.0

[pause_resume]
recover_velocity: 50.0

[respond]
default_type: echo
default_prefix: echo:
