[gcode_macro START_PRINT]
description:
  "G-code to run at the start of a print.
  Replace your slicer's start G-code with this.
  Check the README for more details on usage.
  @param {int} [EXTRUDER=200] - The target hotend temp
  @param {int} [BED=60] - The target bed temp
  @param {bool} [RELATIVE_E_MODE=false] - Whether the extruder should be in relative mode
  @param {bool} [PROBE=false] - Whether or not to build a new bed mesh
  @param {int,int} [PROBE_AREA_START=min,min] - Start of area to probe
  @param {int,int} [PROBE_AREA_END=max,max] - End of area to probe"
gcode:
       {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
       {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|float %}
       {% set initial_tool = params.INITIAL_TOOL|default(0)|int %}
       {% set relative_extruder = params.RELATIVE_E_MODE|default(false)|string %}

       STATUS_BUSY

       G90 ;Absolute positioning

       M220 S100 ;Reset feedrate
       M221 S100 ;Reset flowrate

       {% if relative_extruder|lower == 'true' %}
         M83 ;Set extruder to relative mode
       {% else %}
         M82 ;Set extruder to absolute mode
       {% endif %}

       # Start bed heating
       M117 Heating Bed...;
       STATUS_HEATING
       M140 S{BED_TEMP} ;Start heating bed
       M104 S160
       M190 S{BED_TEMP} ;Wait for bed to reach temp target

       # Home the printer and load mesh
       M117 Homing...;
       STATUS_HOMING
	   {% if printer.homed_axes != 'XYZ' %}
		    G28							; Home All Axes
	   {% endif %}
       #BED_MESH_PROFILE LOAD=default ; Load mesh
       #KAMP
       STATUS_MESHING
       BED_MESH_CALIBRATE
       Smart_Park
       
       # Set and wait for nozzle to reach temperature
       M117 Heating Hotend...;
       STATUS_HEATING
       M109 S{EXTRUDER_TEMP} ;Wait for bed to reach temp target
       
       #SET_FILAMENT_SENSOR SENSOR=entry_sensor ENABLE=1
       #SET_FILAMENT_SENSOR SENSOR=tool_sensor ENABLE=1

       #KAMP
       STATUS_PRINTING
       Line_Purge


