[gcode_macro G27]
gcode:
  {% set default_x = printer.toolhead.axis_minimum.x + 20 %}
  {% set default_y = printer.toolhead.axis_minimum.y + 20 %}

  {% if 'save_variables' in printer %}
    {% set svv = printer.save_variables.variables %}
    {% if 'park_x' in svv %}
      {% set default_x = svv.park_x %}
    {% endif %}
    {% if 'park_y' in svv %}
      {% set default_y = svv.park_y %}
    {% endif %}
  {% endif %}

  {% set x = params.X|default(default_x)|float %}
  {% set y = params.Y|default(default_y)|float %}
  {% set z = params.Z|default(20)|float %}

  {% if printer.toolhead.homed_axes != "xyz" %}
    {action_respond_info("Please home XYZ first")}
  {% else %}
    SAVE_GCODE_STATE NAME=G27_state
    G91
    G1 Z{z}
    G90
    G1 X{x} Y{y} F3000
    RESTORE_GCODE_STATE NAME=G27_state MOVE=0
  {% endif %}

[gcode_macro G29]
gcode:
       G28
       BED_MESH_CALIBRATE METHOD=scan SCAN_MODE=rapid
       SAVE_CONFIG

[gcode_macro G35]
gcode:
      G28
      BED_SCREWS_ADJUST

#[gcode_macro SET_TOOL_FAN]
#gcode:
#  SET_PIN PIN=Fan_{printer.toolhead.extruder} VALUE={params.SPEED|int}
#  SET_GCODE_VARIABLE MACRO=TOOL_FAN_STATE VARIABLE=speed VALUE={params.SPEED|int}

#[gcode_macro M106]
#gcode:
#    {% if params.P is defined %}
#      {% if params.S is defined %}
#        SET_PIN PIN=Fan{params.P|int} VALUE={params.S|int}
#      {% else %}
#        SET_PIN PIN=Fan{params.P|int} VALUE=255
#      {% endif %}
#    {% else %}
#      {% if params.S is defined %}
#        SET_PIN PIN=Fan0 VALUE={params.S|int}
#      {% else %}
#        SET_PIN PIN=Fan0 VALUE=255        
#      {% endif %}
#    {% endif %}

#[gcode_macro M107]
#gcode:
#    {% if params.P is defined %}
#      SET_PIN PIN=Fan{params.P|int} VALUE=0      
#    {% else %}
#      SET_PIN PIN=Fan0 VALUE=0
#      SET_PIN PIN=Fan2 VALUE=0      
#    {% endif %}

[gcode_macro M109]
rename_existing: M99109
gcode:
  {% set s = params.S|float %}

  M104 {rawparams}
  {% if s != 0 %}
    ; Wait for hotend temp (within 1 degree)
    {% if 'T' not in params %} 
      TEMPERATURE_WAIT SENSOR={printer.toolhead.extruder} MINIMUM={s} MAXIMUM={s+1}
    {% else %}
      {% set t = params.T|int %}
      {% if t == 0 %} TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}
      {% else %} TEMPERATURE_WAIT SENSOR=extruder{t} MINIMUM={s} MAXIMUM={s+1} {% endif %}
    {% endif %}
  {% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 S{s}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}

[gcode_macro M204]
rename_existing: M204.1
gcode:
  {% set f = params.F|default(0.5)|float %}

  {% if 'S' in params %}
    {% set s = params.S|float %}
    SET_VELOCITY_LIMIT ACCEL={s} ACCEL_TO_DECEL={ s * f }
  {% else %}
    {% if 'P' in params %}
      {% set p = params.P|float %}
      {% if 'T' in params %}
        {% set t = params.T|float %}
        {% if p < t %}
          SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
        {% else %}
          SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
        {% endif %}
      {% else %}
        SET_VELOCITY_LIMIT ACCEL={p} ACCEL_TO_DECEL={ p * f }
      {% endif %}
    {% elif 'T' in params %}
      {% set t = params.T|float %}
      SET_VELOCITY_LIMIT ACCEL={t} ACCEL_TO_DECEL={ t * f }
    {% endif %}
  {% endif %}

[gcode_macro M205]
gcode:
  {% if 'X' in params %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={params.X}
  {% elif 'Y' in params %}
    SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={params.Y}
  {% endif %}

[gcode_macro M300]
gcode:
       # Use a default 1kHz tone if S is omitted.
       {% set S = params.S|default(260)|int %}
       # Use a 10ms duration is P is omitted.
       {% set P = params.P|default(100)|int %}
      SET_PIN PIN=BEEPER VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
       G4 P{P}
      SET_PIN PIN=BEEPER VALUE=0
#gcode:
#    # Parameters
#    {% set i = params.I|default(1)|int %}           ; Iterations (number of times to beep).
#    {% set dur = params.DUR|default(100)|int %}     ; Duration/wait of each beep in ms. Default 100ms.
#    {% set freq = params.FREQ|default(260)|int %}  ; Frequency in Hz. Default 2kHz.
#
#    {% for iteration in range(i|int) %}
#        SET_PIN PIN=BEEPER VALUE=0.5 CYCLE_TIME={ 1.0/freq if freq > 0 else 1 }
#        G4 P{dur}
#        SET_PIN PIN=BEEPER VALUE=0
#        G4 P{dur}
#    {% endfor %}

#[gcode_macro M600]
#gcode:
  #{% set default_x = printer.toolhead.axis_minimum.x + 20 %}
  #{% set default_y = printer.toolhead.axis_minimum.y + 20 %}
  #{% set default_e = 100 %}

  #{% if 'save_variables' in printer %}
    #{% set svv = printer.save_variables.variables %}
    #{% if 'park_x' in svv %}
      #{% set default_x = svv.park_x %}
    #{% endif %}
    #{% if 'park_y' in svv %}
      #{% set default_y = svv.park_y %}
    #{% endif %}
    #{% if 'bowden_len' in svv %}
      #{% set default_e = svv.bowden_len %}
    #{% endif %}
  #{% endif %}

  #{% set x = params.X|default(default_x)|float %}
  #{% set y = params.Y|default(default_y)|float %}
  #{% set z = params.Z|default(20)|float %}
  #{% set e = params.E|default(default_e)|float %}

  #{% if printer.pause_resume.is_paused %}
    #{action_respond_info("Already paused")}
  #{% elif printer.toolhead.homed_axes != "xyz" %}
    #{action_respond_info("Please home XYZ first")}
  #{% else %}
    #PAUSE_PARK X={x} Y={y} Z={z}
    #M702 U{e}
  #{% endif %}

[gcode_macro M701]
gcode:
  {% set default_u = 100 %}

  {% if 'save_variables' in printer %}
    {% set svv = printer.save_variables.variables %}
    {% if 'bowden_len' in svv %}
      {% set default_u = svv.bowden_len %}
    {% endif %}
  {% endif %}

  {% set i = params.I|default(30)|float %}
  {% set i_f = params.IF|default(180)|float %}
  {% set u = params.U|default(default_u)|float %}
  {% set u_f = params.UF|default(360)|float %}
  {% set p = params.P|default(30)|float %}
  {% set p_f = params.PF|default(180)|float %}

  {% if printer.idle_timeout.state == "Printing" and not printer.pause_resume.is_paused %}
    {action_respond_info("This command cannot be used while printing")}
  {% elif printer.extruder.temperature < 170 %}
    {action_respond_info("Extruder temperature too low")}
  {% else %}
    SAVE_GCODE_STATE NAME=M701_state
    M83
    {% if i > 0.0 %}
      G1 E{i} F{i_f}
    {% endif %}
    {% if u > 0.0 %}
      G1 E{u} F{u_f}
    {% endif %}
    {% if p > 0.0 %}
      G1 E{p} F{p_f}
    {% endif %}
    RESTORE_GCODE_STATE NAME=M701_state MOVE=0
  {% endif %}

[gcode_macro M702]
gcode:
  {% set default_u = 100 %}

  {% if 'save_variables' in printer %}
    {% set svv = printer.save_variables.variables %}
    {% if 'bowden_len' in svv %}
      {% set default_u = svv.bowden_len %}
    {% endif %}
  {% endif %}

  {% set p = params.P|default(8)|float %}
  {% set p_f = params.PF|default(180)|float %}
  {% set i = params.I|default(30)|float %}
  {% set i_f = params.IF|default(180)|float %}
  {% set u = params.U|default(default_u)|float %}
  {% set u_f = params.UF|default(360)|float %}

  {% if printer.idle_timeout.state == "Printing" and not printer.pause_resume.is_paused %}
    {action_respond_info("This command cannot be used while printing")}
  {% elif printer.extruder.temperature < 170 %}
    {action_respond_info("Extruder temperature too low")}
  {% else %}
    SAVE_GCODE_STATE NAME=M702_state
    M83
    {% if p > 0.0 %}
      G1 E{p} F{p_f}
    {% endif %}
    {% if i > 0.0 %}
      G1 E-{i} F{i_f}
    {% endif %}
    {% if u > 0.0 %}
      G1 E-{u} F{u_f}
    {% endif %}
    RESTORE_GCODE_STATE NAME=M702_state MOVE=0
  {% endif %}

[gcode_macro M900]
description:
  "Convert Marlin linear advance (M900) commands to Klipper
  (SET_PRESSURE_ADVANCE) commands. For use with Marlin's linear advance
  calibration: https://marlinfw.org/tools/lin_advance/k-factor.html"
gcode:
  {% if 'K' in params and 'E' in params %}
    SET_PRESSURE_ADVANCE EXTRUDER={params.E} ADVANCE={params.K}
  {% elif 'K' in params %}
    SET_PRESSURE_ADVANCE ADVANCE={params.K}
  {% else %}
    {action_respond_info("K not specified")}
  {% endif %}